@import url('https://fonts.cdnfonts.com/css/star-wars');


body{
    margin: 0 auto;
    background-image: url("https://wallpapercave.com/wp/pEeUsp1.jpg");
    display: flex;
    flex-direction: column;
    font-family: 'Star Wars', sans-serif;
    
}


header{
    height: 10%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    padding: 0.8rem;
}

#logo{
    height: 10vh;
    width: auto;
    justify-self: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

select{
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    font-family: 'Star Wars', sans-serif;
    gap: 3%;
    color: rgba(255, 232, 31, 1.0);
    background-color: transparent;
    outline: none;
    border: none;
    margin-bottom: 3%;
}


option{
    background-color: black;
    border: none;
}


.searchBar{
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    font-family: 'Star Wars', sans-serif;
    gap: 3%;
    
}

.searchBar input{
    background-color: transparent;
    color: rgba(255, 232, 31, 1.0);
    border-style: none;
    width: 100%;
    box-shadow: rgba(255, 232, 31, 0.5) 0px 15px 25px, rgba(255, 232, 31, 0.05) 0px 5px 10px;
    font-family: 'Star Wars', sans-serif;
    border-radius: 5px;
}

.searchBar button{
    box-shadow: rgba(255, 232, 31, 0.5) 0px 15px 25px, rgba(255, 232, 31, 0.05) 0px 5px 10px;
    border: 2px solid rgba(255, 232, 31, 1);
    width: fit-content;
    background-color: transparent;
    color: rgba(255, 232, 31, 1);
    border-radius: 5px;
    font-family: 'Star Wars', sans-serif;
    padding: 0.6rem;
    box-sizing: border-box;
}

.searchBar button:hover{
    transform: scale(1.2);
    background-color: rgba(255, 232, 31, 1);;
    border: none;
    color: black;
}

.searchBar input:focus{
    border: 3px solid rgba(255, 232, 31, 1);
}

.hidden{
    visibility: hidden;
    max-height: 1px !important;
}

iframe{
    border: none;
    overflow-x: hidden;
}

h2{
    color: white;
    font-family: 'Star Wars', sans-serif;
}

#container{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 3px solid rgba(255, 232, 31, 1);
    width: 25vw;
}

.cardHeader{
    background-color: rgba(255, 232, 31, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBody{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bolder;
}